body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.leftMargin{
  margin-left: 1em;
}

.rightMargin{
  margin-right: 3em;
}

.buttonMargin{
  margin: 3px;
}

.verticalAlignMiddle{
  vertical-align: middle
}

.topMargin{
  margin-top: 1em;
}

.noBottomMargin{
  margin-bottom: 0px !important;
}

.noTopMargin{
  margin-top: 0px;
}

.white-text{
  color:white;
}

.height{
  height: 100%;
}

.center{
  text-align: center;
}

.inline{
  display: inline-block;
}

.right{
  float: right;
}

.left{
  float:left;
}
.card{
  height: auto;
  width: 65vw;
  background: grey;

}

.z-zero{
  z-index: 0;
}

.brighten div {
-webkit-filter: brightness(70%);
-webkit-transition: all .4s ease;
-moz-transition: all .4s ease;
-o-transition: all .4s ease;
-ms-transition: all .4s ease;
transition: all .4s ease;
}

.brighten div:hover {
-webkit-filter: brightness(100%);
background: lightgrey;
}

.btn-large{
  width: 25vw;
  height: 3em;
}

.linkButton{
  padding-left: 2em;
  padding-right: 2em;
  top: 1em;
  padding-bottom: 1em;
  margin-top: 50px;
  width: 50px;
  background-color: #51A39A;
  color: white;
}

.noIdCard {
  width: 40%vw;
  height: 3em;
  background-color: lightgrey;
  opacity: 1;
  border-radius: 2px;
  /*box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.4);*/
}

.noIdCard:hover {
    /*box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.4);*/
    /*opacity: .7;*/
    -webkit-filter: brightness(110%);
-webkit-transition: all .4s ease;
   -moz-transition: all .4s ease;
     -o-transition: all .4s ease;
    -ms-transition: all .4s ease;
        transition: all .4s ease;
}


input {
  outline: none;
  padding: 12px;
  border-radius: 3px;
  border: 1px solid black;
}





.form-control1{
  color: black;
}


.youHave{
  font-variant: small-caps;
  font-weight: bold;
}




/* logo */
.hit-the-floor {
margin-right: 1em;
top: -15px;
color: #fff;
font-size: 3em;
font-weight: bold;
font-family: American Typewriter;
text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1);
}

.hit-the-floor {
  text-align: center;
}


/*header*/

.headerFixed {
  position: fixed !important;
  top: 0px;
  width: 100%;
  z-index: 1;
}

.headerBlock{
  height: 70px;
}



/*  Gift ideas page */



.updateExpander {
  width: 100%vw;
  height: 3em;
  background-color: lightgrey;
  opacity: 1;
  border-radius: 2px;
  /*border-bottom: 3px solid white;*/
  /*box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.4);*/
}

.updateExpander:hover {
    /*box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.4);*/
    /*opacity: .7;*/
    -webkit-filter: brightness(110%);
-webkit-transition: all .4s ease;
   -moz-transition: all .4s ease;
     -o-transition: all .4s ease;
    -ms-transition: all .4s ease;
        transition: all .4s ease;
}



/* new gifts */



.giftIdeaTitle{

  margin: 0px;
  font-size: 1.7em;
  font-variant: small-caps;
  font-family: helvetica;
  font-weight: bold;
}

.giftIdeaNotes{

  margin: 0px 0px 0px 15px;
  font-size: 1.2em;
  font-family: helvetica;
}


.test{
  height: 10px;
  width: 10px;
  background-color: red;
}

.addGiftIdeaForm{
  height: .5em;
}

.updateIdea{
  background-color: #f3f3f3;

  color: black;
}

.gifteeIcons{
  height: 27px;
  width: 27px;
}


.gifteeExpanderDetails{
  margin-left: 1em;
  background-color: darkgrey;
}

.iconGroup{
  margin-left: 10px;
}

.lowerIcon{
  margin-bottom: -3px;
}

.upcomeHeading{
  margin-bottom: 5px;
}



/* Upcoming Page*/

.displayRow{
  height: .3em;
}

.smGifteeIcons{
  height: 19px;
  width: 19px;
}


/* about */

.heading{
  font-variant: small-caps;
  font-size: 1.2em;
}

.aboutBody{
  overflow: scroll;
  margin-bottom:50px;
}

.skills{
  margin-left:1em;
}

.aboutTitle{
  font-variant: small-caps;
  font-weight: 600;
  font-family: helvetica;
}

.aboutSubTitle{
  color: darkgrey;
  font-family: helvetica;
}

tr{
  line-height: .5em;
}

table {
  table-layout: auto;
  column-gap: normal;
  margin-left: 1em;
  width: auto;
  margin-bottom: 2em;
}

.hidden {
  visibility: hidden;
  height: 0px;
  margins: 0px;
}












/* form stuff */

::-webkit-input-placeholder { /* Chrome */
  color: black;
  transition: opacity 250ms ease-in-out;
}
:focus::-webkit-input-placeholder {
  opacity: 0.5;
}
:-ms-input-placeholder { /* IE 10+ */
  color: black;
  transition: opacity 250ms ease-in-out;
}
:focus:-ms-input-placeholder {
  opacity: 0.5;
}
::-moz-placeholder { /* Firefox 19+ */
  color: black;
  opacity: 1;
  transition: opacity 250ms ease-in-out;
}
:focus::-moz-placeholder {
  opacity: 0.5;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: black;
  opacity: 1;
  transition: opacity 250ms ease-in-out;
}
:focus:-moz-placeholder {
  opacity: 0.5;
}
