body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.inline{
  display: inline-block;
}

.right{
  float: right;
}

.updateExpander{
  height: 30px;
  width: 150px;
  background-color: #f3f3f3;
}

.giftIdeaTitle{
  margin: 0px;
  font-size: 1.7em;
  font-variant: small-caps;
  font-family: helvetica;
  font-weight: bold;
}

.giftIdeaNotes{
  margin: 0px 0px 0px 15px;
  font-size: 1.2em;
  font-family: helvetica;
}

.gifteeIcons{
  height: 20px;
  width: 20px;
}

.gifteeExpanderDetails{
  margin-left: 1em;
}
